/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    background-color: #C57AFA;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

header {
    background-color: #ab4eed;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

nav > a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

main {
    margin-top: 170px;
}

h1,
h2,
h3 {
    font-family: 'Abril Fatface', sans-serif;
    background-color: #ab4eed;
}

h1 {
    font-size: 4.5rem;
    margin: 0;
}

h2 {
    scroll-margin-top: 160px;
}

.padding-20 {
    padding: 0 20px 0;
}