/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    background-color: #C57AFA;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    font-family: 'Abril Fatface', sans-serif;
    background-color: #ab4eed;
}

h1 {
    font-size: 3.5rem;
}

.no-bulletpoints {
    list-style: none;
}
