/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* General styles */

body {
    background-color: #cf9eac; 
    font-family: 'DM Serif Display', sans-serif;
    margin: 0 0 0.6rem;
    text-align: justify;
}

/* Header & nav styles */

header {
    background-color: #594365;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    border-bottom: medium solid #000;
}

.main-heading {
    margin: 0;
    font-size: 3rem;
    font-family: 'Abril Fatface', sans-serif;
    color: #ebe6e0;
}

nav>a {
    color: #ebe6e0;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    color: #cf9eac;
}

/* Main styles */

/* Pushes content down so it is not covered by header */
.margin-top {
    margin-top: 8.4rem;
}

/* Scroll-margin-top secures that when the home element in the nav bar is clicked the page scrolls to the beginning of the first h2 */
h2 {
    scroll-margin-top: 8.4rem;
}

.align-center {
    text-align: center;
}

.margin-20 {
    margin: 0 2rem;
}

.font-size {
    font-size: 1.2rem;
}

.heading-style {
    font-family: 'DM Serif Display', sans-serif;
    background-color: #b87c4c;
    color: #000;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
}

.ul-no-bullets {
    list-style-type: none;
}

.three-donuts-size {
    width: 100%;
    height: auto;
    max-width: 18.7rem;
    border: medium solid #000;
}

.picture-size-300 {
    width: 100%;
    height: auto;
    max-width: 18.7rem;
    border: medium solid #000;
}

.tasty-drinks {
    padding-bottom: 1.2rem;
}

/* Footer */

/* General styles */
#footer-flex {
    display: flex;
    flex-direction: column;
    margin: 0.6rem;
}

footer h3 {
    font-family: 'Abril Fatface', sans-serif;
    color: #594365;
    font-size: x-large;
}

/* Where to find us */
.google-maps-style {
    border: medium solid #000;
    width: 18.7rem;
    height: 12.5rem;
}

/* Opening times */
table {
    text-align: center;
    vertical-align: middle;
}

td {
    padding: 0 0.9rem;
}

/* Contact form */
textarea {
    margin: 0.4rem 0;
    border: medium double #000;
}

.input-field-style {
    border: medium double #000;
    margin-bottom: 1rem;
    height: 1.5rem;
}

.button-style {
    background-color: #594365;
    border: thick outset #795d8c;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 0.9rem;
    color: #ebe6e0;
    width: 4rem;
}

/* Footnote */
#footnote-style {
    text-align: center;
    padding-top: 6.2rem;
}

/* Media queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Main styles */
    .margin-top {
        margin-top: 8.4rem;
    }

    h2 {
        scroll-margin-top: 8.4rem;
    }

    .three-donuts-size {
        max-width: 28.1rem;
    }

    .google-maps-style {
        width: 20rem;
        height: 15rem;
    }

    /* Media query: tablets and larger (768px and up) */
    @media screen and (min-width: 768px) {

        /* Header & nav styles */
        nav>a {
            font-size: 1.5rem;
        }

        /* Main styles */
        .margin-top {
            margin-top: 9rem;
        }

        h2 {
            scroll-margin-top: 9rem;
        }

        .three-donuts-size {
            max-width: 31.2rem;
        }

        .our-donuts-flex {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .donut-list {
            padding-right: 1.9rem;
        }

        .hazelnut-favourite-flex {
            display: flex;
            flex-wrap: nowrap;
            margin-top: 1.2rem;
            align-items: center;
        }

        .hazelnut-text {
            width: 25rem;
            padding-left: 1.2rem;
        }

        .hazelnut-picture {
            margin-right: 1.9rem;
        }

        .drinks-flex {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .drinks-list {
            width: 25rem;
        }

        .tasty-drinks {
            text-align: left;
            padding-bottom: 0;
        }
    }

    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {

        /* Header & nav styles */
        nav>a {
            font-size: 1.5rem;
        }

        /* Main styles */
        .margin-top {
            margin-top: 9.4rem;
        }

        h2 {
            scroll-margin-top: 9.4rem;
        }

        .delicious-donuts-flex {
            display: flex;
            flex-direction: row-reverse;
        }

        .donuts-welcome {
            width: 30rem;
            padding-left: 1.5rem;
        }

        .three-donuts-size {
            max-width: 37.5rem;
        }

        .our-donuts-flex {
            flex-wrap: nowrap;
            justify-content: center;
        }

        .donut-list {
            padding-left: 3rem;
        }

        .hazelnut-favourite-flex {
            justify-content: center;
        }

        .hazelnut-text {
            margin-right: 4rem;
        }

        .hazelnut-picture {
            margin-right: 6rem;
        }

        .drinks-flex {
            justify-content: center;
        }

        .drinks-list {
            margin-right: 3.4rem;
        }

        .cappucchino {
            margin-right: 4rem;
        }

        /* Footer styles */
        #footer-flex {
            flex-flow: row nowrap;
        }
    }

    @media screen and (min-width: 1200px) {

        /* Header & nav styles */
        nav>a {
            font-size: 1.5rem;
        }

        /* Main styles */
        .margin-top {
            margin-top: 9.4rem;
        }

        .scroll-margin-top {
            scroll-margin-top: 9.4rem;
        }

        .margin-20 {
            margin: 0 3rem;
        }

        .three-donuts-size {
            max-width: 37.5rem;
        }

        .donuts-welcome {
            align-self: center;
        }

        .four-donuts {
            margin-right: 3.3rem;
        }

        .donut-list {
            margin-left: 2.5rem;
        }

        .hazelnut-text {
            margin-right: 3.7rem;
        }

        .hazelnut-picture {
            margin-left: 6rem;
        }

        .tasty-drinks {
            text-align: center;
        }

        .drinks-flex {
            margin-top: 2rem;
        }

        .drinks-list {
            margin-right: 8rem;
        }

        .cappucchino {
            margin-left: 1rem;
        }

        /* Footer styles */

        #footer-flex {
            flex-direction: row;
            justify-content: center;
        }

        .google-maps-style {
            width: 18.7rem;
            height: 12.5rem;
        }
    }
}

